* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    color: white;
    background: linear-gradient(135deg, purple, darkgreen)
}
.container {
    margin: 2em auto;
    height: 90vh;
    width: 60vw;
    border-radius: 20px;
    border: 1px solid transparent;
    background-color: rgba(255, 255, 255, 0.2);
    display: grid;
    grid-template-columns: 1fr 2.5fr;
}
.container-left {
    border-right: 5px solid white;
}
dialog {
    position: fixed;
    top: 21%;
    left: 21%;
    margin: 0;
    border: 1px solid transparent;
    background: rgba(255,255, 255, 0.3);
    border-radius: 20px;
}
.input-box {
    margin: 1em 3em;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.input-box:first-child {
    margin-top: 4em;
}


.border {
    border: 1px solid white;
}
label {
    font-size: 1.5em;
}
input {
    border-radius: 10px;
}
.new-book-btn {
    padding: 1em;
    font-size: 1.3em;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.4);
    margin-top: -1em;
    border: 1px solid transparent
}
.add-book-btn {
   margin: 1em 0;
   padding: 1em;
   border-radius: 20px;
   color: white;
   background: linear-gradient(45deg, purple, darkgreen);
   border: 1px solid transparent;
}

.container-right {
    color: white;
}

table {
    width: 95%;
    margin: 5px 10px;
}

tr {
    border: 5px solid black;
}
td:first-child,
th:first-child {
    width: 3em
}
th:last-child,
td:last-child,
td:nth-last-child(2),
th:nth-last-child(2),
td:nth-child(2),
th:nth-child(2) {
    width: 2em;
}
td:nth-last-child(2),
th:nth-last-child(2) {
    width: 2em;
}


td,
th {
    height: 2em;
    border: 1px solid white;
    width: 6em;
    border: 1px ;
    text-align: center;
}
.deleteBtn {
    background: white;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    border: 1px solid transparent;
    margin-left: -1em;
}
.deleteBtn:hover {
    background: color-mix(in srgb, white 50%, red)
}