* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    background: linear-gradient(135deg, purple, darkgreen)
}
.container {
    margin: 2em auto;
    height: 100vh;
    width: 60vw;
    border: 1pxsolid transparent;
    background-color: rgba(255, 255, 255, 0.2);
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.container-left {
    border-right: 5px solid white;
}

.container-right {
    color: white;
}

table {
    width: 100%;
}

tr {
    border: 5px solid black;
}